.git
.gitignore
.gitattributes

.venv
env
.pixi

__pycache__
*.py[cod]
*.egg-info
build
dist
.pytest_cache
.mypy_cache

tests
packaging

docs
result
.direnv
.envrc
flake.nix
flake.lock

*.sif
*.AppImage
*.log
.metapang-cache
.metapang-config.*
